:root {
  --lightgreen: #39c0c7;
  --logo-green: #09b1ba;
  --lightgray: rgba(17, 17, 17, 0.08);
}

.container {
  max-width: 1280px;
  margin: auto;
}

body {
  font-family: "Maison Neue", "Helvetica Neue", "Helvetica-Neue", "Arial",
    sans-serif;
  color: #333;
}

body.grey {
  background: var(--lightgray);
}

.btn {
  border-radius: 6px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background: var(--logo-green);
  border: 1px solid transparent;
  cursor: pointer;
}

a.btn:hover {
  text-decoration: none;
}

button.btn,
input[type="submit"].btn {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  height: 44px;
  padding: 0 14px;
}

section + section {
  margin-top: 20px !important;
}

/* ------------------------------
/*  -------    HEADER     -------
/* -----------------------------*/

header {
  background: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 44px;
}

header .logo > * {
  height: 100%;
}

header .search {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 500px;
  position: relative;
}

header .search svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px !important;
}

header .search input {
  padding: 4px;
  background: #f5f6f7;
  border: 0;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  font-size: 15px;
}

header nav {
  font-size: 14px;
}

header a.connect {
  color: var(--lightgreen);
  border: 1px solid var(--lightgreen);
  background: transparent;
  margin-right: 10px;
}

header a.connect:hover {
  background: #f9fdfd;
}

/* ------------------------------
/*  -------    Main     -------
/* -----------------------------*/

main {
  position: relative;
  overflow: hidden;
}

main:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 1px solid var(--lightgray);
  width: 100%;
}

main .hero.bg-img {
  background: url("https://www.vinted.fr/assets/seller-promotion/default/banner_wide-057c3bafd7e0dbe2f8d69df7e51192d9a15ffd002eca2b01364fb7b08bb9a52d.jpg")
    no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

main .hero.bg-img:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("https://www.vinted.fr/assets/hero-block/tear-cb30a259a261a54b1511a7088e72118801d10d300901837c655cb53add179620.svg");
  background-position: bottom -1px right -1px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50%;
}

main .header-action {
  background: white;
  width: 40%;
  padding: 32px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 100px;
  display: inline-block;
}

main .header-action .title {
  font-size: 2.8rem;
  font-weight: 500;
  color: #111;
}

main .header-action a {
  margin-top: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

main .pages {
  margin-top: 20px;
  text-align: center;
}

.loading,
.notfound {
  text-align: center;
  padding: 30px;
}

/* ------------------------------
/*  -------    Offer     -------
/* -----------------------------*/

.offer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.offer .pictures {
  max-width: 500px;
  max-height: 400px;
  align-self: center;
}

.offer .pictures img {
  width: 100%;
  object-fit: cover;
}

.offer .price {
  font-size: 25px;
}

.offer .infos {
  padding: 40px;
  background: white;
  width: 30%;
}

.offer .details {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--lightgray);
}

.offer .details div {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.offer .details div .property {
  color: gray;
}

.offer .details div .content {
  text-transform: capitalize;
}

.offer .name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.offer a.btn {
  margin-top: 15px;
  display: block;
  text-align: center;
}

.offer .saler {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.saler {
  vertical-align: middle;
  display: inline-block !important;
}

.saler svg {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

/* ------------------------------
/*  -------    Auth     -------
/* -----------------------------*/

.auth h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: #111;
  font-weight: 500;
  margin-bottom: 30px;
}

form.auth {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

form.auth input::placeholder {
  color: #b6b6b6;
}

form.auth input:not(.btn, input[type="checkbox"]) {
  font-size: 16px;
  line-height: 20px;
  color: #111;
  font-weight: 400;
  width: 100%;
  padding: 0 0 4px;
  font-family: inherit;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.08);
  border-radius: 0;
  resize: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-bottom: 20px;
}

form.auth .newsletter {
  display: flex;
  align-items: center;
}

form.auth input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

form.auth .newsletter label {
  flex-grow: 1;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  font-weight: 400;
  display: block;
  margin: 0 0 0 8px;
}

form.auth .terms {
  font-size: 12px;
  line-height: 16px;
  color: #999;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}

.auth a {
  color: var(--lightgreen);
  font-size: inherit;
}

form.auth input[type="submit"] + a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
}

form.auth .error {
  display: block;
  background: rgba(240, 62, 83, 0.8);
  padding: 5px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  border-radius: 3px;
}

/* ------------------------------
/*  -------    Footer     -------
/* -----------------------------*/

footer {
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  margin-top: 20px !important;
  border-top: 1px solid var(--lightgray);
}
