:root {
  --lightgreen: #39c0c7;
  --logo-green: #09b1ba;
  --lightgray: rgba(17, 17, 17, 0.08);
  --header-size: 44px;
}

.container {
  max-width: 1280px;
  margin: auto;
}

header.search .filter {
  height: var(--header-size);
}

body {
  font-family: "Maison Neue", "Helvetica Neue", "Helvetica-Neue", "Arial",
    sans-serif;
  color: #333;
  background-color: #fff;
}

body.grey {
  background: var(--lightgray);
}

.btn {
  border-radius: 6px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background: var(--logo-green);
  border: 1px solid transparent;
  cursor: pointer;
}

a.btn:hover {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

button.btn,
input[type="submit"].btn {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  height: 44px;
  padding: 0 14px;
}

section + section {
  margin-top: 20px !important;
}

/* ------------------------------
/*  -------    HEADER     -------
/* -----------------------------*/

header {
  background: white;
}

header .container:not(.filter) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo {
  height: var(--header-size);
}

header .logo > * {
  height: 100%;
}

header .search {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 500px;
  position: relative;
}

header .search svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px !important;
}

header .search input {
  padding: 4px;
  background: #f5f6f7;
  border: 0;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  font-size: 15px;
}

header .menu-icon {
  display: none;
  cursor: pointer;
}

header nav {
  font-size: 14px;
}

header nav .account svg {
  margin-right: 5px;
}

header nav a.home {
  display: none;
}

header a.connect {
  color: var(--lightgreen);
  border: 1px solid var(--lightgreen);
  background: transparent;
  margin-right: 10px;
}

header a.connect:hover {
  background: #f9fdfd;
}

header .rangePrice {
  display: grid;
  width: 60%;
  height: 70%;
  margin: auto;
}

header .rangePrice .text-range {
  text-align: center;
  align-self: center;
}
header .rangePrice .range {
  grid-column: 2;
  align-self: end;
}

/* ------------------------------
/*  -------    Main     -------
/* -----------------------------*/

main {
  position: relative;
  overflow: hidden;
}

main:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 1px solid var(--lightgray);
  width: 100%;
}

main .hero.bg-img {
  background: url("https://user-images.githubusercontent.com/59733143/123798349-634d7e00-d8e7-11eb-996d-35d24f87147b.jpg")
    no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

main .hero.bg-img:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("https://svgshare.com/i/Yb9.svg");
  background-position: bottom -1px right -1px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50%;
}

main .header-action {
  background: white;
  width: 40%;
  padding: 32px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 100px;
  display: inline-block;
}

main .header-action .title {
  font-size: 2.8rem;
  font-weight: 500;
  color: #111;
}

main .header-action a {
  margin-top: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

main .pages {
  margin-top: 20px;
  text-align: center;
}

main .pages span + span {
  margin-left: 5px;
}

main .pages span.current {
  color: grey;
}

main .pages a {
  color: var(--lightgreen);
}

.loading,
.notfound {
  text-align: center;
  padding: 30px;
}

.btn:hover {
  transition: background 0.2s;
  background: #07a2aa;
}

/* ------------------------------
/*  -------    Offer     -------
/* -----------------------------*/

.offer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.offer .pictures {
  max-width: 500px;
  max-height: 400px;
  align-self: center;
}

.offer .pictures img {
  width: 100%;
  object-fit: cover;
}

.offer .price {
  font-size: 25px;
}

.offer .infos {
  padding: 40px;
  background: white;
  width: 30%;
}

.offer .details {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--lightgray);
}

.offer .details div {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.offer .details div .property {
  color: gray;
}

.offer .details div .content {
  text-transform: capitalize;
  text-align: right;
}

.offer .name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.offer a.btn {
  margin-top: 15px;
  display: block;
  text-align: center;
}

.offer .saler {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.offer .btn.disabled {
  background: gray;
  cursor: not-allowed;
}
.offer .btn.disabled + .red {
  color: red;
  text-align: center;
}

.saler {
  vertical-align: middle;
  display: inline-block !important;
}

.saler svg {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

/* ------------------------------
/*  -------    Auth     -------
/* -----------------------------*/

.auth h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: #111;
  font-weight: 500;
  margin-bottom: 30px;
}

form.auth {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

form.auth input::placeholder,
form.newoffer input::placeholder,
form.newoffer textarea::placeholder {
  color: #b6b6b6;
}

form.auth input:not(.btn, input[type="checkbox"]),
form.newoffer input:not(.btn, input[type="checkbox"]),
form.newoffer textarea {
  font-size: 16px;
  line-height: 20px;
  color: #111;
  font-weight: 400;
  width: 100%;
  padding: 0 0 4px;
  font-family: inherit;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.08);
  border-radius: 0;
  resize: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-bottom: 20px;
}

form.auth .newsletter {
  display: flex;
  align-items: center;
}

form.auth input[type="checkbox"],
form.newoffer input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

form.auth .newsletter label {
  flex-grow: 1;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  font-weight: 400;
  display: block;
  margin: 0 0 0 8px;
}

form.auth .terms {
  font-size: 12px;
  line-height: 16px;
  color: #999;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}

.auth a {
  color: var(--lightgreen);
  font-size: inherit;
}

form.auth input[type="submit"] + a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
}

form.auth .error,
form.payment .error,
form.newoffer .error {
  display: block;
  background: rgba(240, 62, 83, 0.8);
  padding: 5px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  border-radius: 3px;
}

.pay {
  margin-top: 20px;
  padding: 20px;
  width: 70%;
  background: white;
}

.pay .resume {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}

.pay .line {
  display: flex;
  justify-content: space-between;
}

.pay .line + .line {
  margin-top: 5px;
}

.pay .line.total {
  border-top: 1px solid var(--lightgray);
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.pay .subline {
  margin-bottom: 20px;
}

.pay .card-pay {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pay .card-pay input {
  font-size: 16px;
}

.pay .btn {
  width: 100%;
}

/* ------------------------------
/*  -------    Footer     -------
/* -----------------------------*/

footer {
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  margin-top: 20px !important;
  border-top: 1px solid var(--lightgray);
}
